@{
    ViewData["Title"] = "Movie List";
}
<title>@ViewData["Title"] - Movie App</title>
<h1 class="display-4">Welcome</h1>
<h2>My Movie List</h2>

<div class="text-center">    
    <p>Hello from HomeWorldController!</p>
</div>
